<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Crestron.SimplSharp.SDK.Library" version="2.18.112" targetFramework="net472" />
  <package id="Crestron.SimplSharp.SDK.ProgramLibrary" version="2.18.112" targetFramework="net472" />
  <package id="CrestronHome.SDK" version="8.0.0.12" targetFramework="net472" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net472" />
</packages>